<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background-color: #333;
            color: white;
            padding: 10px;
            text-align: center;
        }



        .dropdown {
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }



        .mp {
            background-color: #333;

            margin-left: 40%;
            width: 20vw;
            cursor: pointer;
            margin-top: 3vh;
        }


        #mp {
            font-size: 4vh;
            color: white;
        }

        a {
            text-decoration: none;
            color: #333;
        }

        section {
            display: flex;
            flex-direction: column;
        }

        h2 {
            text-align: center;
            font-size: 5vh;
            padding: 5vh;
        }
    </style>
</head>

<body>

    <header>
        <h1>Admin Dashboard</h1>
    </header>

    <section id="content">
        <h2>Actions</h2>
        <button class="mp"><a href="#" onclick="loadPagein('managePlans')" id="mp">Manage Plans</a></button>
        <button class="mp"><a href="#" onclick="loadPagein('userAnalytics')" id="mp">User Analytics</a></button>
        <button class="mp"><a href="#" onclick="loadPagein('salesAnalytics')" id="mp">Sales Analytics</a></button>
    </section>
    <script>
        function loadPagein(pageName) {
            console.log(`Loading page: ${pageName}`);

            // Use fetch or another method to get the content of the page
            fetch(`/${pageName}`)
                .then(response => response.text())
                .then(html => {
                    document.body.innerHTML = html;
                })
                .catch(error => console.error('Error loading page:', error));
        }
    </script>
</body>

</html>