<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background-color: #333;
            color: white;
            padding: 10px;
            text-align: center;
        }

    

        .dropdown {
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .mp {
            background-color: #4caf50;
            color: white;
 
           
            cursor: pointer;
        }

        .du {
            background-color: #f44336;
      
        }

        .op{  
             background-color: white;
        }

        a {
            text-decoration: none;
            color: #333;
        }
    </style>
</head>
<body>

    <header>
        <h1>Admin Dashboard</h1>
    </header>

    <section>
        <h2>Statistics</h2>
        <p>Number of Players: 32123<button class="op"><a href="plst.html">&#9776; List</a></button></p>
        <p>Number of Event Organizers: 973<button class="op"><a href="elst.html">&#9776;List</a></button></p>
        <p>Number of Sponsors: 1023<button class="op"><a href="slst.html">&#9776;List</a></button></p>
        <p>Number of Total Users: 3432<button class="op"><a href="tlst.html">&#9776;List</a></button></p>
        <p>Number of Events Promoted: 1323<button class="op"><a href="einfo.html">&#9776;List</a></button></p>
    </section>

    <section>
        <h2>Actions</h2>
        <button class="mp"><a href="mplans.html">Manage Plans</a></button>
        <button class="du"><a href="tlst.html">Manage Users</a></button>
    </section>

</body>
</html>
