
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Index</title>
    <link rel="stylesheet" href="styleChatIndex.css"> 
</head>

<body>


    <div class="search-results">
        <div class="result-item">
            <img src="../assets/profile-pic.png" alt="User 1">
            <div class="result-details">
                <a class="link" href="/chat/personal/65e1bf810b0d0b29a62b9c48">Ajay</a>
                <p id="usertag">@Ajay • Player</p>
                <div class="last-message">
                    <span class="last">Last message...</span>
                    <span class="time">12:30 PM</span>
                </div>
            </div>
        </div>

</body>

</html>