<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dummy Post Feed</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="style_Post.css">
</head>

<body>

    <h2 class="page-info">POST FEED</h2>
    <br>
    <br>
    <br>
    <div class="post-feed">
        <% userPosts.forEach(post=> { %>
            <div class="post">
                <div class="profile-info">
                    <img src="/uploads/profileImages/<%= post.User_Id.userPhoto %>"
                        alt="<%= post.User_Id.username %>">
                    <div class="username">
                        <%= post.User_Id.username %>
                    </div>
                </div>
                <img src="/uploads/posts/<%= post.Content_URL %>" alt="Post">
                    <div class="post-actions">
                        <i class="fas fa-heart" onclick="likePost(this)"></i>
                        <i class="fas fa-comment" onclick="commentPost(this)"></i>
                    </div>
            </div>
            <% }); %>
    </div>

</body>

</html>