body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000000; /* White background */
    color: #ffffff; /* Black text color */
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.search-container {
    padding:2vw;
    display: flex;
    align-items: center;
}

.search-icon {
    font-size: 24px;
    margin-right: 8px;
}

input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ffffff; /* Black border */
    background-color: #000000;
    color: #ffffff;
    border-radius: 5px;
    outline: none;
    width: 70vw;
}

.event-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-item {
    background-color: #ffffff;
    display: flex;
    border-radius: 10px;
    color:black;
    align-items: center;
    margin: 5px;
    width: 100%; /* Utilize full width of the page */
}

.event-image {
    margin-top: 7px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 20px;
}

.event-details {
    border-style: double;
    border-radius: 4vh;
    border-color:rgba(254, 237, 1, 1);
    padding:4vh;
    display: flex;
    flex-direction: row;
    width: calc(100% - 70px); /* Adjust as needed */
}

.event-details:hover{
    box-shadow: 0 0 5px rgba(254, 237, 1, 1),
    0 0 15px rgba(255, 0, 0, 1),
    0 0 20px rgba(255, 141, 0, 1);
}

.user-name{
    margin:2.5vh 0vh 0vh 2.5vh;
}
.event-name {
    margin:2.5vh 0vh 0vh 2.5vh;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
    background-color:#594E86;
    width:max-content;
    max-height:2.5vh;
}

.event-info {
    margin: 0.7vh 5vh 0vh 5vh;
    display: flex;
    flex-direction: column;
   
}

.prize-money{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 15px;
   
  
}
.event-date {
    color: rgb(0, 0, 0);
    text-align: right;
    font-size: 15px;
   

}

.button-container {
    display: flex;
}

/* Adjust the style for the Register button and Bookmark button */
.register-button,
.bookmark-button {
    margin: 0.3vh;
    background-color: #3498db;
    color: #fff;
    border: none;
   width:15.5vw;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 12.5px;
}

.register-button:hover,
.bookmark-button:hover {
    background-color: #2980b9;
}
