body {
    margin: 0;
    padding: 0;
    font-family: 'Supercell-Magic', sans-serif;
    background-color: #000000; /* White background for a clean look */
    color: #ffffff; /* Dark text color */
}

.logo{
    font-family: 'Space Monkey';
    color: white;
    text-align: center;
    font-size: 4vh;
    padding: 3vh;
    text-shadow: 0 0 10px #87CEEB, 0 0 20px #B0C4DE; 
}

.logo:hover{
    text-shadow: 0 0 5px rgba(254, 237, 1, 1),
             0 0 15px rgba(254, 237, 1, 1),
             0 0 20px rgba(254, 237, 1, 1),
             0 0 40px rgba(254, 237, 1, 1),
             0 0 60px rgba(255, 0, 0, 1),
             0 0 10px rgba(255, 141, 0, 1);

}

#nvoptions:hover{
    background-color: rgba(254,237,1,255);
    color: #000000;
}

nav {
   
    font-size: 2.5vh;
    float: left;
    width: 20%;
    height: 100vh;
    background-color: #000000; /* Light gray color for the navigation background */
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1); /* Subtle box shadow for depth */
}

nav h1.logo {
    margin-bottom: 20px; /* Add spacing between the logo and links */
    color: #ffffff; /* Dark text color for the logo */
}

nav a {
    display: block;
    padding: 12px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #ffffff; /* Dark text color for navigation links */
    background-color: #000000; /* Light gray background color for navigation links */
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.3s; /* Smooth transition on hover */
}

nav a:hover {
    background-color: #000000; /* Slightly darker gray on hover for navigation links */
}

section {
    float: left;
    width: 60%; /* Reduced width of the second section to 60% */
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    border-left: 1px solid #333; /* Dark border color for separation */
    transition: border-left-color 0.3s; /* Smooth transition on hover */
    background-color: #000000; /* White background for the content section */
}

section:hover {
    border-left-color: #555; /* Darker border color on hover for the section */
}

.options-section {
    float: left;
    width: 20%; /* New third section with 20% width */
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    background-color: #000000; /* Light gray color for the new section */
    border-left: 1px solid #333; /* Dark border color for differentiation */
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1); /* Subtle box shadow for depth */
}

h1 {
    color: #ffffff; /* Dark text color for headers */
}

iframe {
    border: none; /* Remove border from iframes */
}
